
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top justify-content-between">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FooDay Helper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse justify-content-between">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                    @if ((string)Session["Role"] == "admin")
                    {
                        <li>@Html.ActionLink("Category", "Index", "product_category")</li>
                        <li>@Html.ActionLink("Product", "Index", "products")</li>
                        <li>@Html.ActionLink("User", "Index", "users")</li>

                    }
                    @if ((string)Session["Role"] == "manager")
                    {
                        <li>@Html.ActionLink("User", "Index", "users1")</li>
                        <li>@Html.ActionLink("Order", "Index", "order_products")</li>
                        <li>@Html.ActionLink("Delivery", "Index", "delivery_order")</li>
                        <li>@Html.ActionLink("Order assignment", "Index", "order_courier")</li>
                    }

                    <li>@Html.ActionLink("Регистрация", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Выполнить вход", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    
                </ul>

            </div>
            
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FooDay</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
